body {
    background: rgb(245, 245, 245);
    color: rgb(10, 10, 10);
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 25px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Rubik', Georgia, Times, serif;
    color: rgb(152, 46, 135);
}

a {
    color: rgb(152, 46, 135);
}

a:hover {
    color: rgb(200, 75, 180);
    text-decoration: none;
}

.text-warning {
    color: rgb(140, 160, 38);
}


