---
layout: default
---

<h2> {{ page.title }} </h2>

<p class="text-warning">
  {{ page.date | date: "%b %-d, %Y" }} • {{ page.author }}

  {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}

  {% for tag in tags %}
    {% if forloop.first %} • [ {% endif %}
    <a href="{{site.baseurl}}/tags#{{tag | slugize}}">{{tag | capitalize}}</a>
    {% if forloop.last %} ] {% else %} , {% endif %}
  {% endfor %}
</p>

<div id="content">
{{ content }}
</div>

<div id="comments">
  <br><hr>
  <h3>Comments</h3>
  <script src="https://utteranc.es/client.js"
          repo="bmcmenamin/bmcmenamin.github.io"
          issue-term="pathname"
          async>
  </script>
</div>

